In [ ]:
#Exercise 02 - Get details of inactive customers
#Get the customers who have not placed any orders, sorted by customer_lname and then customer_fname
from pyspark.sql import SparkSession
from pyspark import *

spark = SparkSession \
.builder \
.master("local") \
.appName("sparkexercise2") \
.getOrCreate()

customersDF = spark \
.read \
.format("csv") \
.option("header","false") \
.load("/home/veepee555/Downloads/data-master/retail_db/customers")

In [ ]:
ordersDF = spark \
.read \
.format("csv") \
.option("header","false") \
.load("/home/veepee555/Downloads/data-master/retail_db/orders")

In [17]:
customersDF.show()
ordersDF.show()

+---+-----------+---------+---------+---------+--------------------+-------------+---+-----+
|_c0|        _c1|      _c2|      _c3|      _c4|                 _c5|          _c6|_c7|  _c8|
+---+-----------+---------+---------+---------+--------------------+-------------+---+-----+
|  1|    Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville| TX|78521|
|  2|       Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton| CO|80126|
|  3|        Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas| PR|00725|
|  4|       Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos| CA|92069|
|  5|     Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas| PR|00725|
|  6|       Mary|    Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic| NJ|07055|
|  7|    Melissa|   Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas| PR|00725|
|  8|      Megan|    Smith|XXXXXXXXX|XXXXXXXXX|3047 Foggy Forest...|     Lawrence| MA|01841|
|  9|       Mary|    Perez|XXXXXXXXX|XXXXXXXXX| 3616 Quaking Street|       Caguas| PR|00725|
| 10|    Melissa|    Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford| VA|22554|
| 11|       Mary|  Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas| PR|00725|
| 12|Christopher|    Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio| TX|78227|
| 13|       Mary|  Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas| PR|00725|
| 14|  Katherine|    Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera| CA|90660|
| 15|       Jane|     Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana| CA|92336|
| 16|    Tiffany|    Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas| PR|00725|
| 17|       Mary| Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor| MI|48180|
| 18|     Robert|    Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez| CA|94553|
| 19|  Stephanie| Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas| PR|00725|
| 20|       Mary|    Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York| NJ|07093|
+---+-----------+---------+---------+---------+--------------------+-------------+---+-----+
only showing top 20 rows

+---+--------------------+-----+---------------+
|_c0|                 _c1|  _c2|            _c3|
+---+--------------------+-----+---------------+
|  1|2013-07-25 00:00:...|11599|         CLOSED|
|  2|2013-07-25 00:00:...|  256|PENDING_PAYMENT|
|  3|2013-07-25 00:00:...|12111|       COMPLETE|
|  4|2013-07-25 00:00:...| 8827|         CLOSED|
|  5|2013-07-25 00:00:...|11318|       COMPLETE|
|  6|2013-07-25 00:00:...| 7130|       COMPLETE|
|  7|2013-07-25 00:00:...| 4530|       COMPLETE|
|  8|2013-07-25 00:00:...| 2911|     PROCESSING|
|  9|2013-07-25 00:00:...| 5657|PENDING_PAYMENT|
| 10|2013-07-25 00:00:...| 5648|PENDING_PAYMENT|
| 11|2013-07-25 00:00:...|  918| PAYMENT_REVIEW|
| 12|2013-07-25 00:00:...| 1837|         CLOSED|
| 13|2013-07-25 00:00:...| 9149|PENDING_PAYMENT|
| 14|2013-07-25 00:00:...| 9842|     PROCESSING|
| 15|2013-07-25 00:00:...| 2568|       COMPLETE|
| 16|2013-07-25 00:00:...| 7276|PENDING_PAYMENT|
| 17|2013-07-25 00:00:...| 2667|       COMPLETE|
| 18|2013-07-25 00:00:...| 1205|         CLOSED|
| 19|2013-07-25 00:00:...| 9488|PENDING_PAYMENT|
| 20|2013-07-25 00:00:...| 9198|     PROCESSING|
+---+--------------------+-----+---------------+
only showing top 20 rows

In [30]:
customersDF.createOrReplaceTempView("cust_temp")
custDF=spark.sql("select _c0 as cust_id, _c1 as firstname,_c2 as lastname from  cust_temp")

In [40]:
custDF.createOrReplaceTempView('CUST')

In [38]:
ordersDF.createOrReplaceTempView("orders_temp")
ordDF=spark.sql("select * from  orders_temp")
ordDF.printSchema()

root
 |-- cust_id: string (nullable = true)

In [39]:
ordDF.createOrReplaceTempView("ORD")

In [43]:
spark.sql("select cust_id, firstname, lastname  \
from CUST  where  CUST.cust_id NOT IN  \
(SELECT ORD.cust_id FROM ORD)").show()

+-------+---------+--------+
|cust_id|firstname|lastname|
+-------+---------+--------+
|    219|     Mary| Harrell|
|    339|     Mary|  Greene|
|    469|    Randy|   Smith|
|   1187|  Dorothy| Vazquez|
|   1481|    Grace|   Smith|
|   1808|   Albert| Ellison|
|   2073|    Donna|Stephens|
|   2096|     Jose|  Tanner|
|   2450|    James|   Smith|
|   4555|     Mary|   Smith|
|   4927|  Carolyn|   Green|
|   6072|  Stephen|   Smith|
|   6613|   Ashley|   Smith|
|   7011|    Kevin|   Smith|
|   7552|     Carl|   Smith|
|   8243|     Gary|  Walker|
|   8343|     Mary|  Bolton|
|   8575|     Mary| Mueller|
|   8778|     Mary|   Smith|
|   8882|  Kenneth|   Smith|
+-------+---------+--------+
only showing top 20 rows